h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}
.Nombre {
	margin: 10px;
}

img { 
	max-width: 200px;
     margin: 0px;
     align-content: center;

}
#fotoCv {
	position: absolute;
	left: 850px;
	bottom: 50px;
}

body {
	background: url(./image-cv/fondoCv.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
